<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
</head>
<body>
    <nav>
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <img src="../img/manrun.png" id="manrun" align="right">
    <header id="mainheader">
        <div>
            <span>Health Tracker</span>
            <span class="subheader">( Helps You Stay Healthy )</span>
        </div>
    </header>
    <div class="spacer"></div>
    <footer>
        <ul>
            <li>copyright &copy; Health Tracker | Mahmoud Ghassan</li>
        </ul>
    </footer>
</body>
</html>